/*---------------GENERAL---------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --beige: #F2E0C8;
    --orange: #F15922;
    --yellow: #D9D65D;
    --green: #717F56;
    --darkGreen: #2A6049;
    --white: #FCFBF9;
    --font: 'Quicksand', sans-serif;
    --logoFont: 'Rakkas', cursive;

}

body {
    background-color: var(--beige);
    padding: 30px 10%;
    font-family: var(--font);
    position: relative;
}

/*---------------NAVBAR---------------*/
nav {
    color: var(--white);
    height: 45px;
}

#logo {
    display: inline-block;
    font-size: 2rem;
    font-family: var(--logoFont);
    font-weight: normal;
    letter-spacing: 2px;
}

nav button {
    float: right;
    margin-left: 11px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: var(--beige);
    color: var(--white);
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(206, 190, 170, 0.25), -4px -4px 4px rgba(255, 255, 230, 0.6);
}

nav button:active {
    box-shadow: inset 4px 4px 4px rgba(206, 190, 170, 0.25), inset -4px -4px 4px rgba(255, 255, 230, 0.6);
}

#addHabit .fa-plus{
    color: var(--white);
}

 #addHabit a .fa-plus:hover, .fa-bars:hover{
    color: var(--darkGreen);
 }



#menu {
    background-color: var(--beige);
    opacity: 95%;
    text-align: center;
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 80%;
    height: 90%;
    margin-top: 5px;
    padding-top: 8em;
    line-height: 2.5;
    color: var(--green);
    font-size: 1.5rem;
    font-weight: 600;
    display: none;
}

#menu ul {
    list-style-type: none; 
}
#menu a{
    color: var(--green);
    text-decoration: none;
}

#menu li a:hover {
    color: var(--darkGreen);
}

/*---------------MAIN---------------*/
main {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 155px;
    grid-gap: 22px;
}

.habit {
    background-color: var(--white);
    border-radius: 0px 15px;
    text-align: left;
    padding: 8%;
    position:relative;
}

.greenPlant {
    height: 60%;
    display: inline-block;
    width: 100%;
    margin-top: 1em;
}

.habitText{
    display: inline-block;
    position: absolute;
    bottom: 9%;
    left: 9%;
    font-size: 1rem; 
}

.checked {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: var(--white);
    border: none;
    box-shadow: -3px -3px 4px #FFFFFF, 3px 3px 4px rgba(209, 208, 207, 0.5);
    float: right;
    position: absolute;
    right: 9%;
    bottom: 9%;
}

.checked:active{
    box-shadow: inset -3px -3px 4px #FFFFFF, inset 3px 3px 4px rgba(209, 208, 207, 0.5);
}